.bubble {
  margin:auto;
  max-width: 360pt;
  text-align: center;
  border-style: solid;
  border-width: 2pt;
  border-radius: 6pt;
}
.color1 {
  background-color: #DDDDDD;
  border-color: gray;
}
.color2 {
  background-color: #ebae34;
  border-color: #a86d07;
}
.color3 {
  background-color: #3aeb34;
  border-color: green;
}
body {
  background-color: lightblue;
}
span {
  font-size: large;
}
.center {
  margin: 0 auto;
}
